* {
    margin: 0;
    padding: 0;
}

.container {
    width: 970px;
    background-color: #1b335d;
    padding: 5px 0 5px 0;
}

h1, h3, h4, p {
    color: #c2d6eb;
}

a {
    color: #69d3dc;
    text-decoration: underline;
    cursor: pointer;
    padding: 2px;
    display: inline;
}

#header, #navigation, #content, #footer {
    border-radius: 10px;
    margin: 8px;
}

#header {
    background-color: #cf2f36;
    padding: 15px;
}

#navigation {
    background-color: #2a7d8c;
    display: inline-block;
    padding: 15px;
}

#navigation > a {
    padding-left: 5px;
}

ul {
    padding-left: 20px;
    color: white;
}

#content {
    display: inline-block;
    vertical-align: top;
    background-color: black;
    padding: 15px;
    width: 690px;
}

#content ul li {
    padding-top: 5px;
}

#content ul p {
    display: inline;
    margin-left: 2px;
}

#footer {
    background-color: #5d6673;
    padding: 15px;
}