* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

hr {
    margin: 20px 0;
    color: grey;
}

a {
    color: #2facbe;
    text-decoration: none;
}

.logo {
    height: 92px;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.title_1 {
    margin: 24px 0 0 96px;
    font-size: 42px;
    color: #535353;
    font-weight: 500;
}

.title_2 {
    padding: 10px 20px;
    font-size: 32px;
    background: linear-gradient(#2c6ba1,#4f81ac,#2c6ba1);
    color: white;
    font-weight: 500;
}

.highlight {
    color: #23659e;
}

.wrapper {
    display: flex;
}

.resources {
    width: 200px;
    font-weight: 600;
}

.btn {
    font-weight: 500;
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 8px 4px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px grey;
}

.watch_btn {
    background: linear-gradient(to bottom,#5f95c1,#2668a0);
}

.more_btn {
    background: linear-gradient(to bottom, #eba84d, #ef7900);
}

.resources p:first-child {
    padding: 20px 4px 10px 4px;
}

.resources p:nth-child(2) {
    font-size: 14px;
    padding-left: 4px;
}

.resources p:first-child span {
    color: red;
}

.ad {
    background-image: url('./images/ad_background.png');
    height: 292px;
    background-size: contain;
    box-shadow: 2px 2px 1px grey;
}

.ad h3 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.ad img {
    width: 100px;
    display: block;
    margin: auto;
}

.ad_btn {
    color: white;
    background: linear-gradient(to bottom,#68cede,#1fc6df);
    font-weight: 500;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin: 15px;
}

.content {
    flex: 1;
    margin-left: 40px;
}

.top_content {
    display: flex;
    background: linear-gradient(to bottom, #e3e3e3, white);
}

.navigation {
    display: flex;
    align-items: center;
    height: 32px;
    width: 200px;
    padding-top: 10px;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    color: #2969a1;
}

.navigation img {
    width: 22px;
    margin: 2px;
}

.subtitle {
    color: #2969a1;
}

.filler {
    flex: 1;
}

.contact {
    display: flex;
    align-items: center;
}

.contact img {
    width: 48px;
    height: 48px;
    margin: 5px;
}

.contact_info p {
    font-size: 14px;
    color: #535353;
    text-align: center;
}

.contact_info p:nth-child(2) {
    color: #04c1df;
    font-size: 28px;
    font-weight: 600;
    text-align: left;
}

.bot_content ul, .bot_content ol {
    margin-left: 50px;
}

li {
    padding: 2px;
}

.article_1 img {
    height: 100px;
    display: block;
    margin: auto;
    padding: 10px;
}

.info_box {
    margin-top: 20px;
    display: flex;
    padding: 20px;
    border: 6px solid #0085e0;
    box-shadow: 2px 2px 1px grey;
}

.info_box img {
    height: 128px;
}