body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

label {
    margin: 0;
}
input {
    margin: 0.5rem 0;
}
.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.content > div {
    min-width: 360px;
}
.error {
    color:red;
    display:block;
    margin: 0;
    margin-top: 15px;
}
.success {
    color: green;
    display: block;
}
h4 {
    text-align: center;
}
.panel_text {
    height: 130px;
}
.page {
    margin-top: 20px;
}
.options {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.fill {
    flex-grow: 1;
}
.dashboard-return {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 660px;
}
.show-label {
    width: 130px;
    display: inline-block;
}
.post {
    margin: 25px 0;
}

.message {
    padding-left: 20px;
    color: black;
    font-size: 18px;
    display: inline-block;
}

.poster, .commenter {
    margin-bottom: 2px;
}

.commenter {
    margin-left: 40px;
    font-size: 18px;
}

.comment_container, .message_container {
    display: flex;
    align-items: center;
}

.comment, .comment_box {
    margin-left: 60px;
}

.submission {
    display: flex;
}