<a href='/'>root</a>
<h1>New Product</h1>

@model ProductModel
<form autocomplete="off" asp-action='CreateProduct' asp-controller='Home'>
    <div class='form-group'>
        <span asp-validation-for='Name'></span>
        <label asp-for="Name">Name:</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
        <span asp-validation-for='Description'></span>
        <label asp-for="Description">Description:</label>
        <input type="text" class="form-control" asp-for="Description" placeholder="Enter description">
        <span asp-validation-for='Price'></span>
        <label asp-for="Price">Price:</label>
        <input type="number" class="form-control" asp-for="Price" placeholder="Enter price">
    </div>
    <button type="submit" class='btn btn-primary'>Create</button>
</form>
