/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

#wrapper{
 background-color: silver;
 margin: 0px auto;
 padding: 15px 0;
}
#header{
 min-height: 150px;
 background-color: green;
 margin: 0 15px 18px 15px;
}
#navigation{
 vertical-align: top;
 min-height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin: 0 8px 0 15px;
}
#main_content{
 vertical-align: top;
 min-height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 margin: 0 15px;
 width: calc(100% - 260px);
}
#subcontent_container {
    display: flex;
    justify-content: space-evenly;
}
.subcontents{
 margin: 12px;
 min-height: 200px;
 width: calc(100%/3 - 24px);
 height: calc(100%/3 - 24px);
 background-color: yellow;
 display: inline-block;
}
#advertisement{
 margin: 12px;
 min-height: 120px;
 background-color: purple;
 width: calc(100% - 24px);
}
@media only screen and (max-width: 480px) {
    #navigation {
        display: none;
    }
    #main_content {
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    #subcontent_container {
        flex-direction: column;
    }
    .subcontents {
        width: calc(100% - 24px);
        height: calc(100% - 24px);
        max-width: 220px;
        max-height: 220px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    #navigation {
        display: none;
    }
    #main_content {
        margin: 0 15px;
        width: calc(100% - 30px);
    }
    #wrapper {
        width: 100%;
    }
    #subcontent_container {
        display: block;
    }
    .subcontents {
        min-width: 220px;
        min-height: 220px;
    }
}

@media only screen and (min-width: 1024px) {
    #navigation {
        display: inline-block;
    }
}