.box_1, .box_2, .box_3 {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    border: solid 1px #f4f1dd;
    margin: 3px 5px;
}

.box_1 {
    background-color: #b3b3b3;
    font-weight: 500;
}

.box_2 {
    background-color: #cccccc;
}

.box_3 {
    background-color: #ff9;
    display: none;
}

@media only screen and (max-width: 480px) {
    #phone {
        display: block;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    #tablet {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    #desktop {
        display: block;
    }
}