body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sub-header {
    font-size: 18px;
}

.options {
    display: flex;
    align-items: center;
}

.fill {
    flex-grow: 1;
}

a {
    font-size: 20px;
}

form {
    max-width: 700px;
    margin: 20px 0;
    display: flex;
}

#create-record {
    align-self: flex-end;
    margin-bottom: 15px;
}

.field-validation-error {
    color: red;
}

.content {
    font-size: 20px;
}

h4 {
    font-weight: 400;
}

.trail-content {
    display: flex;
    align-items: center;

}

img {
    width: 600px;
    height: auto;
}