<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Test App!</h1>
        <p class="lead">A language based off JavaScript with the right amount of syntactical sugar.</p>
        <hr class="my-4">
        <p>The interpreter for JabbaScript comprises of several key components that include: Element References, While
            Loops, For Loops, and Procedure Calls.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Learn more</a>
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>About</h2>
            <p class="panel_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Sollicitudin tempor id eu nisl nunc.
            </p>
            <p>
                <a class="btn btn-secondary btn-md" href="/" role="button">More info</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Features</h2>
            <p class="panel_text">
                Velit egestas dui id ornare arcu odio ut. Nunc scelerisque viverra mauris in aliquam. Elit pellentesque
                habitant morbi tristique senectus.
            </p>
            <p>
                <a class="btn btn-secondary btn-md" href="/" role="button">More info</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Applications</h2>
            <p class="panel_text">
                Elit scelerisque mauris pellentesque pulvinar. Vulputate ut pharetra sit amet aliquam id diam maecenas.
                Amet massa vitae tortor condimentum.
            </p>
            <p>
                <a class="btn btn-secondary btn-md" href="/" role="button">More info</a>
            </p>
        </div>
    </div>
    <hr class="my-4">
    <h3>Contact Us!</h3>
    <form class="form-group">
        <label for="contact_email">Email address</label>
        <input type="email" class="form-control" id="contact_email" placeholder="name@example.com">
    </form>
    <div class="form-group">
        <label for="contact_comment">Comments</label>
        <textarea class="form-control" id="contact_comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Send</button>
    <hr class="my-4">
    <p>Copyright Stuff.</p>
</div>