* {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
}

body {
    background-color: #f2f1f1;
}

a {
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.content {
    background: linear-gradient(-90deg, #1f0f13, #6f5964);
}

.subtitle {
    background: linear-gradient( #afaeb3, #8b8996,#afaeb3);
    padding: 10px;
    color: white;
}

.profile {
    display: flex;
}

.profile img {
    width: 40%;
    height: 40%;
    border: 6px solid #c0c0c0;
    margin: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    margin: 20px;
    background: linear-gradient(to bottom right, #f3eff3, #dacbd9);
}

.about p, .about a {
    padding: 10px;
}

.projects {
    display: flex;
}

.projects > div {
    margin: 20px;
    background: linear-gradient(to bottom right, #f3eff3, #dacbd9);
    width: 30%;
}

.projects div p {
    padding: 10px;
    height: 200px;
}

.proj_img {
    height: auto;
    width: 100%;
}

.proj_btn {
    text-align: center;
}

.proj_btn button {
    color: white;
    cursor: pointer;
    background-color: #407d61;
    border-radius: 10px;
    padding: 5px;
    margin: 15px 0;
    border: 1px solid black;
    box-shadow: 2px 2px 5px grey;
}

.icons img {
    height: 48px;
    width: 48px;
    margin: 8px;
}

.footer {
    text-align: center;
}

.footer > div, .footer p {
    margin: 10px;
}

.footer img {
    height: 24px;
    width: 24px;
    margin-right: 2px;
}

.contact {
    height: 24px;
}

.contact a {
    vertical-align: top;
    font-style: italic;
}