<!--The content below is only a placeholder and can be replaced.-->
<div class='container'>
  <h4>New Task</h4>
  <form autocomplete="off" (submit)='createTask()'>
    <div class='input-field'>
      <input id="title" type="text" name='title' class="validate" [(ngModel)]='newTask.title'>
      <label for="title">Title</label>
    </div>
    <div class='input-field'>
      <input id="desc" type="text" name='description' class="validate" [(ngModel)]='newTask.description'>
      <label for="desc">description </label>
    </div>
    <button type="submit" class="waves-effect waves-light btn">Create</button>
  </form>

  <div class='panel'>
    <div class='wrapper'>
      <h4>Task List</h4>
      <div class='content' *ngFor="let task of tasks">
        <div class='task'>
          <h5>{{ task.title }}</h5>
          <h6>{{ task.description }}</h6>
        </div>
        <div class='fill'></div>
        <div class='options'>
          <a class="btn-small waves-effect waves-light" (click)="editTask(task._id)">edit</a>
          <a class="btn-small waves-effect waves-light" (click)="deleteTask(task._id)">delete</a>
        </div>
      </div>
    </div>

    <div class='fill'></div>
    
    <div *ngIf="edit" class='wrapper'>
      <h4>Edit a Task</h4>
      <form autocomplete="off" (submit)='changeTask(task._id)'>
        <div class='input-field'>
          <input id="title" type="text" name='title' class="validate" [(ngModel)] ='task.title'>
          <label class="active" for="title">Title</label>
        </div>
        <div class='input-field'>
          <input id="desc" type="text" name='description' class="validate" [(ngModel)] ='task.description'>
          <label class="active" for="desc">description </label>
        </div>
        <button type="submit" class="waves-effect waves-light btn">Edit</button>
      </form>
    </div>
  </div>

</div>