body {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

h3 {
    text-align: center;
}

p {
    display: inline-block;
}

.fill {
    flex-grow: 1;
}

.survey {
    width: 400px;
}

.result {
    width: 300px;
}

.result > div {
    display: flex;
}

span.field-validation-error {
    display: block;
    color: red;
}