<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Portfolio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/projects">Projects</a>
                <a class="nav-item nav-link" href="/contact">Contact</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="container">
            <h1 class="display-4">JabbaScript!</h1>
            <p class="lead">A language based off JavaScript with the right amount of syntactical sugar.</p>
            <hr class="my-4">
            <p>The interpreter for JabbaScript comprises of several key components that include: Element References, While
                Loops, For Loops, and Procedure Calls.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>About</h2>
                <p class="panel_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Sollicitudin tempor id eu nisl nunc.
                </p>
                <p>
                    <a class="btn btn-secondary btn-md" href="#" role="button">More info</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Features</h2>
                <p class="panel_text">
                    Velit egestas dui id ornare arcu odio ut. Nunc scelerisque viverra mauris in aliquam. Elit pellentesque habitant morbi tristique
                    senectus.
                </p>
                <p>
                    <a class="btn btn-secondary btn-md" href="#" role="button">More info</a>
                </p>
            </div>
            <div class="col-md-4">
                <h2>Applications</h2>
                <p class="panel_text">
                    Elit scelerisque mauris pellentesque pulvinar. Vulputate ut pharetra sit amet aliquam id diam maecenas. Amet massa vitae
                    tortor condimentum.
                </p>
                <p>
                    <a class="btn btn-secondary btn-md" href="#" role="button">More info</a>
                </p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>

</html>