
img {
    max-width: 250px;
    max-height: 250px;
    cursor: pointer;
}

.cake-form {
    min-width: 250px;
    max-width: 400px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 16px;
    flex-grow: 1;
}

.content {
    display: flex;
}

.rating-section {
    overflow-y: scroll;
    height: 400px;
}

.cake-group {
    display: flex;
    align-items: center;
}

.cake-group form {
    margin: 20px 40px;
}

.fill {
    flex-grow: 1;
}